@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Prata&display=swap");
@import "tailwindcss";
* {
  font-family: Outfit;
}
@font-face {
  font-family: "custumeFont";
  src: url("./assets/fonts/Postbook.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
